/* *********** colors *********** */
/* primary color */
$primary: var(--primary);

/* Secondry color */
$secondary: var(--secondary);

/* black color */
$black: var(--black);

/* white color */
$white: var(--white);
