<div class="currency-exchanger">
  <div class="currency-exchanger__title ms-2">{{ currencyExchange.HEADER }}</div>
  <div class="row m-2 p-2 border border-3 rounded">
    <div class="col-md-6">
      <!-- amount enter -->
      <div class="currency-exchanger__amount-enter d-flex flex-column">
        <label for="amount">{{ currencyExchange.AMOUNT }}</label>
        <input [(ngModel)]="amount" type="number" name="amount" />
      </div>
      <!-- coverter panel -->
      <div class="currency-exchanger__converter-panel">
        <app-converter-panel
          [amount]="amount"
          [to]="to"
          [from]="from"
        ></app-converter-panel>
      </div>
    </div>
    <!-- converter -->
    <div class="currency-exchanger-__currency-converter col-md-6">
      <app-currency-converter
        [page]="eMainPaths.HOME"
        [amount]="amount"
        (selectedSymbols)="getSelectedSymbols($event)"
      ></app-currency-converter>
    </div>
  </div>
  <!-- most popular currencies -->
  <div
    *ngIf="amount > 0"
    class="currency-exchanger__most-popular row m-2 p-2 border border-3 rounded"
  >
    <div
      *ngFor="let mostPopularName of mostPopularNames | keyvalue"
      class="col-md-4 p-2"
    >
      <app-most-popular
        [to]="mostPopularName.key"
        [from]="from"
        [amount]="amount"
      ></app-most-popular>
    </div>
  </div>
  <!-- validation error -->
  <div
    *ngIf="!amount || amount <= 0"
    class="border m-2 p-2 border-3 rounded text-center"
  >
    {{ currencyExchange.VALIDATION }}
  </div>
</div>
