<div class="currency-converter container">
  <!-- Form converter -->
  <form *ngIf="currencysNames" [formGroup]="converterForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between mb-3">
        <!-- From Dropdown -->
        <div class="currency-converter__from">
          <label for="from" class="d-block">{{
            EcurrencyConverter.FROM
          }}</label>
          <select
            [attr.disabled]="amount && amount > 0 ? null : ''"
            class="currency-converter__from-select rounded border border-1 secondary-color fs-6"
            formControlName="from"
          >
            <option
              *ngFor="let currencysName of currencysNames | keyvalue"
              [ngValue]="currencysName.key"
            >
              {{ currencysName.key }}
            </option>
          </select>
        </div>
        <!-- swap button -->
        <div class="currency-converter__swap d-flex align-items-end">
          <button
            (click)="swap()"
            type="button"
            class="btn btn-primary btn-block py-0"
          >
            &larr;{{ EcurrencyConverter.SWAP }}&rarr;
          </button>
        </div>
        <!-- To Dropdown -->
        <div class="currency-converter__to">
          <label for="to" class="d-block">{{ EcurrencyConverter.TO }}</label>
          <select
            [attr.disabled]="amount && amount > 0 ? null : ''"
            class="currency-converter__to-select rounded border border-1 secondary-color fs-6"
            formControlName="to"
          >
            <option
              *ngFor="let currencysName of currencysNames | keyvalue"
              [ngValue]="currencysName.key"
            >
              {{ currencysName.key }}
            </option>
          </select>
        </div>
      </div>
      <!-- Convert Submit -->
      <div class="col-md-12 mb-3">
        <button
          [attr.disabled]="amount && amount > 0 ? null : ''"
          type="submit"
          class="btn btn-primary btn-block w-100"
        >
          {{ EcurrencyConverter.CONVERT }}
        </button>
      </div>

      <div class="col-md-12 d-flex">
        <!-- display value -->
        <div
          class="currency-converter__display-value rounded border border-1 w-100 text-center"
        >
          <span *ngIf="result">{{result| number}} {{to}}</span>
        </div>
        <!-- button more details -->
        <button
          [hidden]="page != eMainPaths.HOME"
          type="button"
          class="btn btn-primary btn-block ms-2 w-50"
        >
          {{ EcurrencyConverter.MORE_DETAILS }} &rarr;
        </button>
      </div>
    </div>
  </form>
</div>
